body {
	background-color: LightGray;
	
	letter-spacing: 0.03em;
}

div {
	border: 1px solid Chocolate;
}
.top-navigation .links {
	float: right;
	font-family: 'Roboto',sans-serif;
	font-size: 16px;
	color: #838994;

}
.top-navigation  .links li {
	display: inline-block;
	margin-left: 25px;
}
.top-navigation .links  .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation  .links li:hover {
	cursor:pointer;
	color: #333333
}

html {
	box-sizing: border-box;
}
*,*:before, *:after {
	box-sizing: inherit;
}
.introduction {
	background-image: url('../images/first-background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
}
button {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	width: 10px;
	background-color: grey;
	font-size: 10;
	color: green;
	margin: 0 auto;
}
.cases {
	font-weight: thin;
	font-size: 8;
	margin: auto;
	color: blue;
}
.devices .cases{
	box-sizing: border-box;
	width: 33.3333333%;
	display: inline-block;
	/*styles to assist with debugging*/
	border: 1px solid black;
	height: 4em;
}
.top-navigation {
	position: fixed;
	width: 100%;
	z-index: 9999;-
}